*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --colorar: green;
    --colorsec: violet;
    --colorhead: red
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

footer, header{
    width: 100%;
    height: 40px;
    background-color: var(--colorhead);
}

article{
    background-color: var(--colorsec);
    width: 80%;
    height: 400px;
    margin-bottom: 40px;
}

section{
    width: 100%;
    height: 200px;
}

article:last-child{
    margin-bottom: 0;
}

.banner{
    background-image: url(./img/street-art.jpg);
}

.img-center {
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descript_derecho{
    height: 90%;
    width: 50%;
    background-color: burlywood;
    background-image: url(./img/fibrones.webp);
    float: right;
    margin: 10px 10px 10px, 10px;
}

